body{
   line-height: 2em;
}


header, nav{
    padding: 15px 10px 15px 0px;
    margin: 10px;

}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
}

nav a{
    text-decoration: none;
}

a:visited{
    color: black;

}

nav a.current{
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 15px;
}


h1{
   font-size: 48px;


}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px;

}

h1, h2, h3{
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.grid div {
    border: 3px solid black;
    border-radius: 20px;
    margin: 0 auto;
}

.grid img{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}

@media (min-width: 769px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        width: 90%;
        margin: 0 auto;
    }
    
    .grid div {
        border: 3px solid black;
        border-radius: 20px;
        margin: 0 auto;
    }
    
    .grid img{
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid black;
    }
    
    
    .grid div:nth-child(3n+1)  {
        /* Set box shadow */
        box-shadow: 3px 3px black
        }
    
    .grid div:nth-child(3n)  {
        /* Set box shadow */ 
        box-shadow: -3px 3px black;
    }
    
    .grid div:nth-child(3n+2)  {
         box-shadow: 3px 3px black, -3px 3px black;
    }
        
    
    p + p {
        text-indent: 20px;
      }
      
    p{
         margin: 20px;
    }
    
    
    .grid ul li{
        /* Set margin, line-spacing, list styling  */
        margin: 20px;
        line-height: 1;
        list-style-type: url('/images/sketchbook.png');
        margin: 0px 0px 20px 45px;
    }
    
}